// Colors Variables
$color-primary: #003366;
$color-primary-light: #003f7e;
$color-secondary: #CCCC99;
$color-grey-light: #CCCCCC;

// Fonts Variables
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-Saira-Stencil-One: 'Saira Stencil One', cursive;
$font-manjari: 'Manjari', sans-serif;